  <div class="navbar-fixed">
    <nav class="nav">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Dashboard</a>
        <ul class="right hide-on-med-and-down">
          <li><a href='/signup' class="waves-effect waves-light btn">Sign Up</a></li>
          <li><a href="#" class="waves-effect waves-light btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="container">  
  <div class="row">

    <div class="col s6">
      <div class="calendar z-depth-4">THIS IS A CALENDAR</div>
      </div>
  </div>
<div class="row">  
  <div class="col s12">      
    <div class="collection">
      <a href="#!" class="collection-item">Amazon </a>
      <a href="#!" class="collection-item">Google</a>
      <a href="#!" class="collection-item">Expedia</a>
      <a href="#!" class="collection-item">Alan</a>
    </div>
  </div>
</div> 
<div class="row">
  <div class="col s12">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a> 
  </div>
</div>


</div>






