<div class="navbar-fixed">
    <nav class="nav">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Cappstone</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">ABOUT</a></li>
          <li><a class="waves-effect waves-light btn">Sign Up</a></li>
          <li><a class="waves-effect waves-light btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
<form class = "capp-well capp-well-new">
  <h2>Position:</h2>
  <input type="text" name="position" value="">
  <h2>Application Date</h2>
  <input type="text" name="application-date" value="">
  <h2>Job Description URL</h2>
  <input type="text" name="job-description" value="">
  <h2>Company</h2>
  <input type="text" name="company" value="">
  <h2>Department</h2>
  <input type="text" name="department" value="">
  <h2>Salary Amount</h2>
  <input type="text" name="salary-amount" value="">
    <p>
      <input name="salary" type="radio" id="annual" />
      <label for="annual">Annual</label>
    </p>
    <p>
      <input name="salary" type="radio" id="hourly" />
      <label for="hourly">Hourly</label>
    </p>
    <p>
      <input name="salary" type="radio" id="monthly" />
      <label for="monthly">Monthly</label>
    </p>
  <h2>Relocation</h2>
  <p>
    <input name="relo" type="radio" id="relo-yes" />
    <label for="relo-yes">Yes</label>
  </p>
  <p>
    <input name="relo" type="radio" id="relo-no" />
    <label for="relo-no">No</label>
  </p>
  <input>
  <h2>Contacts</h2>
  <h5>Contact 1:</h5>
    Name: <input type="text" name="name" value="">
    Number: <input type="text" name="number" value="">
    Email: <input type="text" name="email" value="">
  <h5>Contact 2:</h5>
    Name: <input type="text" name="name" value="">
    Number: <input type="text" name="number" value="">
    Email: <input type="text" name="email" value="">
  <h2>Notes</h2>
  <input type="text" name="note" value="">
  <h2>Interest Level</h2>
  <input>
  <button type="submit">Submit</button>
</form>

