<div class="navbar-fixed">
    <nav class="nav">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Cappstone</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">ABOUT</a></li>
          <li><a class="waves-effect waves-light btn">Sign Up</a></li>
          <li><a class="waves-effect waves-light btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
<section class = "capp-well capp-well-new">
  <h2>Company:</h2>
  <input>
  <h2>Position</h2>
  <input>
  <h2>Date Applied</h2>
  <input>
  <h2>Address</h2>
  <input>
  <h2>Compensation</h2>
  <input>
  <h2>Department</h2>
  <input>
  <h2>Relocation</h2>
  <input>
  <h2>Contacts</h2>
  <h5>Contact 1:</h5><input>
  <h5>Contact 2:</h5><input>
  <h2>Notes</h2>
  <input>
  <h2>Interest Level</h2>
  <input>
</section>

