<div id="scroll-it">
  <div class="navbar-fixed">
    <nav class="nav">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">ABOUT</a></li>
          <li><a class="waves-effect waves-light btn">Sign Up</a></li>
          <li><a class="waves-effect waves-light btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- Company Section -->
  <div class="scrollable-section" data-section-title="Company">
  </div>
  <section class="capp-well">
    <h1 class="section-main-header">Job Title</h1>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
      <div class="modal-content">
        <form class="Company" action="demo_form.asp">
          Job Title: <input type="text" name="FirstName" value=""><br>
          Company: <input type="text" name="FirstName" value=""><br>
          Position: <input type="text" name="FirstName" value=""><br>
          Department: <input type="text" name="LastName" value=""><br>
          Salary: <input type="text" name="LastName" value=""><br>
          Benefits: <input type="text" name="LastName" value=""><br>
          Location: <input type="text" name="LastName" value=""><br>
          Rating: <input type="text" name="LastName" value=""><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal End -->
    <h2 class="job-at-company">Company</h2>
    <section class="row">
      <section class="left-float col s6">
        <h3 class="section-h3">Position:</h3>
        <h3 class="section-user-info">Web Developer</h3>
        <h3 class="section-h3">Department:</h3>
        <h3 class="section-user-info">Tech</h3>
        <h3 class="section-h3">Salary:</h3>
        <h3 class="section-user-info">80k</h3>
      </section>
      <section class="right-float col s6">
        <h3 class="section-h3">Benefits:</h3>
        <h3 class="section-user-info">Health, Dental, 401K Match</h3>
        <h3 class="section-h3">Location:</h3>
        <h3 class="section-user-info">Fremont</h3>
        <h3 class="section-h3">Rating:</h3>
        <h3 class="section-user-info">5/5</h3>
      </section>
    </section>
  </section>
  <!-- Contacts Section -->
  <div class="scrollable-section" data-section-title="Contacts">
  </div>
  <section class="capp-well">
    <h1 class="section-main-header">Contacts</h1>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger2" href="#modal2">Add Contact</a>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <form class="Company" action="demo_form.asp">
          Name: <input type="text" name="FirstName" value=""><br>
          Number: <input type="text" name="FirstName" value=""><br>
          EMail: <input type="text" name="FirstName" value=""><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal End -->
    <h2 class="job-at-company">Company</h2>
    <div class="container">
    <p class="section-user-info">Contact Name</p>
    <p class="section-user-info">Number</p>
    <p class="section-user-info">Email</p>
  </section>
  <!-- Events -->
  <div class="scrollable-section" data-section-title="Events">
  <div>
  <section class="capp-well">
    <h1 class="section-main-header">Events</h1>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger2" href="#modal3">Add Event</a>
    <!-- Modal Structure -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <form class="Company" action="demo_form.asp">
          Date: <input type="text" name="FirstName" value=""><br>
          Event: <input type="text" name="FirstName" value=""><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal End -->

    <h2 class="job-at-company">Job at Company</h2>
  </section>

  <!-- Location -->
  <div class="scrollable-section" data-section-title="Location">
  </div>
    <section class="capp-well">
      <h1 class="section-main-header">Location</h1>
      <h2 class="job-at-company job-at-company-location">Job at Company</h2>
    </section>
  <!-- Notes -->
  <div class="scrollable-section" data-section-title="Notes">
  </div>
    <section class="capp-well">
      <h1 class="section-main-header">Notes</h1>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger2" href="#modal3">Add Note</a>
      <!-- Modal Structure -->
      <div id="modal3" class="modal">
        <div class="modal-content">
          <form class="Company" action="demo_form.asp">
            Date: <input type="text" name="FirstName" value=""><br>
            Note: <input type="text" name="FirstName" value=""><br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <!-- Modal End -->

      <h2 class="job-at-company">Job at Company</h2>
      <p class="notes-p">text text text</p>
    </section>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#scroll-it').sectionScroll();
    $('.modal-trigger').leanModal();
    $('.modal-trigger2').leanModal();
  });
</script>


