<div class="scrollable-section" data-section-title="Company">
  <section class="contain">
    <h1 class="section-main-header">Job Title</h1>
    <h2 class="job-at-company">Company</h2>
    <h3>Salary</h3>
    <h3>Benefits</h3>
    <h3>Other Perks</h3>
    <h3>Rating</h3>
  </section>
</div>
<div class="scrollable-section" data-section-title="Contacts">
  <section class="contain">
    <h1 class="section-main-header">Contacts</h1>
    <h2 class="job-at-company">Company</h2>
    <a class="button waves-effect waves-light btn">Add Contact</a>
    <p>Contact Name</p>
  </section>
</div>
<div class="scrollable-section" data-section-title="Events">
  <section class="contain">
    <h1 class="section-main-header">Events</h1>
    <h2 class="job-at-company">Job at Company</h2>
    <a class="button waves-effect waves-light btn">Add Event</a>
  </section>
</div>
<div class="scrollable-section" data-section-title="Location">
  <section class="contain">
    <h1 class="section-main-header">Location</h1>
    <h2 class="job-at-company">Job at Company</h2>
  </section>
</div>
<div class="scrollable-section" data-section-title="Notes">
  <section class="contain">
    <h1 class="section-main-header">Notes</h1>
    <h2 class="job-at-company">Job at Company</h2>
    <a class="button waves-effect waves-light btn">Add Note</a>
    <p>text text text</p>
  </section>
</div>
