<div class="scrollable-section" data-section-title="Company">
  <section class="contain">
    <h1>Job Title</h1>
    <h2>Company</h2>
    <h3>Salary</h3>
    <h3>Benefits</h3>
    <h3>Other Perks</h3>
    <h3>Rating</h3>
  </section>
</div>
<div class="scrollable-section" data-section-title="Contacts">
  <section class="contain">
    <h1>Contacts</h1>
    <p>text text text</p>
  </section>
</div>
<div class="scrollable-section" data-section-title="Events">
  <section class="contain">
    <h1>Events</h1>
  </section>
</div>
<div class="scrollable-section" data-section-title="Location">
  <section class="contain">
    <h1>Location</h1>
  </section>
</div>
<div class="scrollable-section" data-section-title="Notes">
  <section class="contain">
    <h1>Location</h1>
    <p>text text text</p>
  </section>
</div>
