  <div class="navbar-fixed">
    <nav class="nav">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">ABOUT</a></li>
          <li><a class="waves-effect waves-light btn">Sign Up</a></li>
          <li><a class="waves-effect waves-light btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="scrollable-section" data-section-title="Company">
  <section class="contain">
    <h1 class="section-main-header">Job Title</h1>
    <h2 class="job-at-company">Company</h2>
    <section class="left-float">
      <h3 class="section-h3">Position:</h3>
      <h3 class="section-user-info">Web Developer</h3>
      <h3 class="section-h3">Department:</h3>
      <h3 class="section-user-info">Tech</h3>
      <h3 class="section-h3">Salary:</h3>
      <h3 class="section-user-info">80k</h3>
    </section>
    <section class="right-float">
      <h3 class="section-h3">Benefits:</h3>
      <h3 class="section-user-info">Health, Dental, 401K Match</h3>
      <h3 class="section-h3">Location:</h3>
      <h3 class="section-user-info">Fremont</h3>
      <h3 class="section-h3">Rating:</h3>
      <h3 class="section-user-info">5/5</h3>
    </section>
  </section>
</div>
<div class="scrollable-section" data-section-title="Contacts">
  <section class="contain">
    <h1 class="section-main-header">Contacts</h1>
    <h2 class="job-at-company">Company</h2>
    <a class="button waves-effect waves-light btn">Add Contact</a>
    <div class="container">
    <p class="section-user-info">Contact Name</p>
    <p class="section-user-info">Number</p>
    <p class="section-user-info">Email</p>
  </section>
</div>
<div class="scrollable-section" data-section-title="Events">
  <section class="contain">
    <h1 class="section-main-header">Events</h1>
    <h2 class="job-at-company">Job at Company</h2>
    <a class="button waves-effect waves-light btn">Add Event</a>
  </section>
</div>
<div class="scrollable-section" data-section-title="Location">
  <section class="contain">
    <h1 class="section-main-header">Location</h1>
    <h2 class="job-at-company">Job at Company</h2>
  </section>
</div>
<div class="scrollable-section" data-section-title="Notes">
  <section class="contain">
    <h1 class="section-main-header">Notes</h1>
    <h2 class="job-at-company">Job at Company</h2>
    <a class="button waves-effect waves-light btn">Add Note</a>
    <p>text text text</p>
  </section>
</div>
